.wallet-content {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 0 50px;
  position: relative;

  @media (max-width: 1024px) {
    padding: 0px 24px;
    gap: 2rem;
    margin-top: 2.5rem;
  }

  @media (max-width: 968px) {
    margin-top: 3rem;
    padding: 0 24px;
    flex-direction: column;
  }
  @media (max-width: 468px) {
    margin-top: 1.5rem;
  }
  .wallet-balance-container {
    flex-basis: 50%;
    width: 100%;
    position: relative;

    .wallet-bg {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      @media (max-width: 568px) {
        display: block;
      }
    }

    .balance-container {
      position: relative;
      overflow: hidden;
      width: 100%;
      max-width: 500px;
      padding: 2.6rem;
      padding-bottom: 5rem;
      background-image: url("data:image/svg+xml,%3Csvg width='463' height='287' viewBox='0 0 463 287' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_i_154_481818)'%3E%3Cpath d='M8.69075 15.4881C8.96708 6.85525 16.0453 0 24.6826 0H446.48C455.517 0 462.761 7.47934 462.471 16.5119L454.309 271.512C454.033 280.145 446.955 287 438.317 287H16.5203C7.48318 287 0.239404 279.521 0.528524 270.488L8.69075 15.4881Z' fill='%230A0D15'/%3E%3C/g%3E%3Cpath d='M9.16606 15.5033C9.43417 7.12704 16.302 0.475548 24.6826 0.475548H446.48C455.248 0.475548 462.277 7.73259 461.996 16.4967L453.834 271.497C453.566 279.873 446.698 286.524 438.317 286.524H16.5203C7.75178 286.524 0.723302 279.267 1.00383 270.503L9.16606 15.5033Z' stroke='white' stroke-opacity='0.15' stroke-width='0.951096'/%3E%3Cdefs%3E%3Cfilter id='filter0_i_154_481818' x='0.52002' y='0' width='461.96' height='287' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeMorphology radius='13.7841' operator='erode' in='SourceAlpha' result='effect1_innerShadow_154_481818'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='22.8263'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_154_481818'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      // z-index: 111;

      @media (max-width: 468px) {
        background-image: url("data:image/svg+xml,%3Csvg width='368' height='265' viewBox='0 0 368 265' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_i_2020_103796)'%3E%3Crect width='368' height='265' rx='16' fill='%230A0D15'/%3E%3Crect x='0.475548' y='0.475548' width='367.049' height='264.049' rx='15.5245' stroke='white' stroke-opacity='0.15' stroke-width='0.5'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_2020_103796' x='0' y='0' width='368' height='265' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeMorphology radius='13.7841' operator='erode' in='SourceAlpha' result='effect1_innerShadow_2020_103796'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='22.8263'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_2020_103796'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        padding: 1.5rem 1rem;
        padding-bottom: 0rem;
        min-height: 256px;
      }

      .title {
        display: flex;
        align-items: center;
        gap: 1rem;
        z-index: 111;
        font-family: 'ABC-Diatype';
        font-size: 20px;
        text-transform: uppercase;
        img {
          min-width: 49px;
          min-height: 49px;
          max-width: 49px;
          max-height: 49px;
          object-fit: cover;
          object-position: top;
          border-radius: 49px;
          box-shadow: -3px 3px 0px 0px #c1272d;
        }

        @media (max-width: 468px) {
          margin-top: 0rem;
          font-size: 16px;
        }
      }
      .amount {
        margin-top: 46px;
        margin-bottom: 36px;
        color: #fff;
        font-family: 'TuskerGrotesk-Medium-5500';
        font-size: 42px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        z-index: 3;
        @media (max-width: 468px) {
          margin-top: 2rem;
          font-size: 36px;
        }
      }
      .cta {
        display: flex;
        position: absolute;
        gap: 1rem;
        bottom: -45%;
        width: 100%;

        @media (max-width: 468px) {
          padding: 0 0rem;
          bottom: -60%;
          gap: 0.2rem;
        }

        .fund-wallet {
          margin-top: 0.3rem;
          min-width: 170px;
          height: 49px;
          padding: 8px 16px;
          border-radius: 8px;
          border: 1px solid rgba(255, 255, 255, 0.05);
          background: rgba(14, 17, 25, 0.24);
          box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.1) inset;
          color: #fff;
          font-family: 'ABC-Diatype';
          font-size: 16px;
          font-style: normal;
          line-height: normal;
          @media (max-width: 468px) {
            font-size: 14px;
            padding: 0.5rem 12px;
            min-width: 124px;
          }
        }

        .withdraw {
          margin-right: auto;
          position: relative;
          transform: translate(-20%);
          color: #000;
          font-family: 'ABC-Diatype';
          font-size: 16px;
          font-style: normal;
          line-height: normal;
          min-width: 350px;
          @media (max-width: 568px) {
            min-width: 300px;
            transform: translate(-20%, -0.5rem);
            svg {
              max-width: 300px;
            }
          }
          div {
            position: absolute;
            left: 50%;
            top: 3rem;
            transform: translate(-50%, -2rem);
            @media (max-width: 568px) {
              transform: translate(-50%, -1.2rem);
              font-size: 14px;
              span {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .wallet-container {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    border-radius: 19.872px;
    border: 0.8px solid rgba(255, 255, 255, 0.15);
    background: #0a0d15;
    position: relative;
    @media (max-width: 768px) {
      margin-top: 2rem;
    }
    .title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(18px);
      -webkit-backdrop-filter: blur(10px);
      padding: 1rem 2rem;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      position: relative;

      @media (max-width: 768px) {
        padding: 1rem 20px;
      }

      h4 {
        color: #fff;
        font-family: 'TuskerGrotesk-Medium-5500';
        font-size: 24px;
        font-style: normal;
        line-height: normal;
      }
    }

    .transaction-history {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 36px;

      @media (max-width: 768px) {
        padding: 1.5rem 1rem;
      }

      .transaction {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .transaction-desc {
          display: flex;
          gap: 1.5rem;

          @media (max-width: 768px) {
            gap: 0.8rem;
          }
          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background: rgba(255, 255, 255, 0.07);
            backdrop-filter: blur(16px);
            -webkit-backdrop-filter: blur(16px);
            box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.1) inset;
            border-radius: 50%;

            @media (max-width: 768px) {
              width: 24px;
              height: 24px;
            }
          }
          .desc {
            display: flex;
            flex-direction: column;

            .wallet-amount {
              display: flex;
              gap: 4px;
              color: #fff;
              font-family: 'Unbounded', sans-serif;
              font-size: 18px;
              font-style: normal;
              line-height: normal;
              text-transform: capitalize;

              #amount {
                color: #e27625;
              }

              @media (max-width: 768px) {
                font-size: 16px;
              }
              @media (max-width: 468px) {
                font-size: 14px;
              }
            }

            .transaction-time {
              margin-top: 8px;
              color: rgba(255, 255, 255, 0.7);
              font-family: 'ABC-Diatype';
              font-size: 14px;
              font-style: normal;
              line-height: normal;
            }
          }
        }

        .address {
          font-family: 'Unbounded', sans-serif;
          color: rgba(255, 255, 255, 0.5);
          font-size: 16px;
          @media (max-width: 768px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}
