@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@tailwind base
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'TuskerGrotesk-Semibold';
  src: url('../assets/fonts/TuskerGrotesk-4600Semibold.woff') format('woff');
}
@font-face {
  font-family: 'TuskerGrotesk-Medium-5500';
  src: url('../assets/fonts/TuskerGrotesk-5500Medium.woff') format('woff');
}
@font-face {
  font-family: 'TuskerGrotesk-Medium-4500';
  src: url('../assets/fonts/TuskerGrotesk-4500Medium.woff') format('woff');
}

@font-face {
  font-family: 'TuskerGrotesk-Medium-6500';
  src: url('../assets/fonts/TuskerGrotesk-6500Medium.woff') format('woff');
}

@font-face {
  font-family: 'ABC-Diatype';
  src: url('../assets/fonts/ABC Diatype Mono.woff') format('woff');
}

/* $unboundedFont: "Unbounded", sans-serif; */
#__next {
  position: relative;
  z-index: 0;
}
*::-webkit-scrollbar {
  width: 8px;
  @media (max-width: 768px) {
    width: 4px;
  }
}

*::-webkit-scrollbar-track {
  background: #2f3238;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #302527;
  border-radius: 14px;
  border: 3px solid #2f3238;
}

svg {
  display: block;
  overflow: visible;
  vertical-align: middle;
}
.ockConnectWallet_Container span {
  color: #fff;
}
/* $unboundedFont: "Unbounded", sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'ABC-Diatype';
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
input,
textarea {
  outline: none;
  border: none;
  // border: 1px solid #ffffff12;
  padding: 10px;
  border-radius: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0.4px solid rgba(255, 255, 255, 0.07);
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff00 inset;
  transition: background-color 5000s ease-in-out 0s;
  outline: none;
}

input:focus {
  outline: none;
  border: none;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.templateSection > div {
  max-width: 100%;
}

.ju367vb3 {
  background: rgba(11, 13, 18, 0.813) !important;
}
.iekbcc0._1ckjpok2._1ckjpok1.ju367vb6.ju367vdr.ju367vp.ju367vt.ju367vv.ju367vel.ju367va.ju367v15.ju367v6c.ju367v8r._1ckjpok6.ju367vq._1ckjpok7 {
  background: #0a0d15;
  box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.1) inset;
  z-index: 111;
  border: 0.95px solid #ffffff26 !important;
}

.iekbcc0._1ckjpok4._1ckjpok1.ju367vb6.ju367vdr.ju367vp.ju367vt.ju367vv.ju367vel.ju367va.ju367v15.ju367v6c.ju367v8r {
  background: #0a0d15;
  box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.1) inset;
  z-index: 111;
  border: 0.95px solid #ffffff26 !important;
  width: 100%;
  min-width: 400px;
}
.iekbcc0.ju367v2r {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 !important;
  h1 {
    color: #fff;
    font-family: 'TuskerGrotesk-Semibold';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
  }
}
.ju367v86 {
  padding: 0rem !important;
}
.iekbcc0.ju367v4d {
  padding: 0 !important;
  margin: 0 !important;
  button {
    padding: 0 !important;
    font-size: 25px !important;
    svg {
      height: 16px !important;
      width: 16px !important;
      font-size: 18px !important;
      color: #fff !important;
      fill: #fff !important;
    }
  }
}
.ju367v7j {
  padding: 0rem 1rem !important;
}
.ju367v3s.ju367v94 {
  display: none !important;
}
.iekbcc0.ju367v6p._1vwt0cg2.ju367v7a.ju367v7v {
  background: #12141b !important;
  margin-top: 0 1rem !important;
  border-radius: 12px;
  // padding: 1rem;
}
.ju367v2v {
  color: #fff !important;
}
.iekbcc0.ju367v5p {
  color: #fff !important;
}
.iekbcc0.ju367vf0.ju367v16.ju367v17.ju367v1f.ju367v2v {
  color: #ffffff50 !important;
  font-size: 12px !important;
}
.iekbcc0.iekbcc9.ju367v89.ju367v6i.ju367v73.ju367v7o.ju367vo.ju367vt.ju367vv.ju367v8u.ju367v9f.ju367vb1.g5kl0l0._12cbo8i3.ju367v8r._12cbo8i6 {
  min-height: 46px !important;
  padding: 10px 24px 10px 24px !important;
  gap: 16px !important;
  border-radius: 60px !important;
  padding: 0 !important;
  background: #1c1e26;
  position: relative;
  padding-left: 0.5rem !important;
}
.iekbcc0.ju367vj {
  border-radius: 50% !important;
}

.iekbcc0.ju367vh0.ju367v16.ju367v19.ju367v1f.ju367v2v {
  color: #ffffff50 !important;
}
.iekbcc0.ju367vf0.ju367v16.ju367v19.ju367v1h.ju367v2v {
  color: #ffffff70 !important;
}

// @media (max-width: 786px) {
//   // .iekbcc0.ju367vbr.ju367va.ju367v6q.ju367v8a._1am14410,
//   .iekbcc0.ju367va {
//     display: flex;
//     flex-direction: column !important;
//   }
//   ._1ckjpok7 {
//     padding: 0 !important;
//     margin: 0 !important;
//     min-width: 100% !important;
//     top: none !important;
//   }
//   .ju367v8q {
//     min-width: 100vw !important;
//   }
//   ._9pm4ki3 {
//     left: 50% !important;
//     right: none !important;
//     transform: translateX(-50%) !important;
//     bottom: 0 !important;
//     margin: 0 !important;
//     padding: 0 !important;
//     min-width: 100vw !important;
//   }
//   .iekbcc0._1ckjpok2._1ckjpok1.ju367vb6.ju367vdr.ju367vp.ju367vt.ju367vv.ju367vel.ju367va.ju367v15.ju367v6c.ju367v8r._1ckjpok6.ju367vq._1ckjpok7 {
//     min-width: 100vw !important;
//     left: none !important;
//     margin: 0 !important;
//     padding: 0 !important;
//   }
//   // .ju367vb3 {
//   //   height: 100vh;
//   //   position: fixed;
//   //   display: flex;
//   //   align-items: center;
//   //   overflow: hidden;
//   // }
//   .iekbcc0.ju367v7e.ju367v7z.ju367v4.ju367va.ju367v15.ju367v1z {
//     display: none;
//   }
//   .iekbcc0.ju367v84.ju367v6d.ju367v6y.ju367v7j {
//     min-width: 100%;
//   }
// }

.py-1 {
  display: none !important;
}

.bg-ock-default {
  padding: 1rem;
}
